version: '3.9'
services:
  metabase:
    image: metabase/metabase:latest
    container_name: metabase
    ports:
      - "3000:3000"

    environment:
      MB_DB_FILE: /metabase-data/metabase.db
      MB_JETTY_PORT: 3000

    volumes:
      - ./metabase-data:/metabase-data

    networks:
      - mybridge
networks:
  mybridge:          # Nome da rede indicada no serviço.
    external:        # Indica que a rede é externa e já foi criada anteriormente.
      name: mybridge # Nome da rede externa que será usada.	

